.local-item{

    height: auto;
    width: 95%;
    border: 1px solid lightgray;
    margin: auto;
    margin-bottom: 5px;

}

.local-item:active{

    background-color: lightgray;

}

h4{
    color: gray;
}

h5{
    color: lightgray;
}