.App-header {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #E3242B;
    border-bottom:1px solid #E3242B;
    padding: 1rem 2rem; 

  }

  .App-header h3{

    margin-right: auto;

  }

  a{
      text-decoration: none;
      color:#E3242B;
  }